.footer__column-link {
  text-decoration: none;
  color: #fff;
  display: block;
  font-size: 18px;
  line-height: 30px;
  transition: opacity .5s ease;
}

.footer__column-link:hover {
  opacity: 30%;
}