.feinman__link {
  font-size: 36px;
  line-height: 51px;
  color: #000;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  transition: opacity .5s ease;
}

.feinman__link:hover {
  opacity: 30%;
}