@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.link {
text-decoration: none;
transition: opacity .5s ease;

}

.link:hover {
  opacity: 30%;
}

.list {
list-style: none;
margin: 0px;
padding: 0px;
}  

/* ---------------- Шапка сайта, блок header------------------- */

.header {
  background-color: #f2f2f2;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.logo {
 width: 183px;
}

.logo_place_header {
  background-image: url(../images/logo.svg);
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  font-size: 102px;
  line-height: 96px;  
  font-weight: 600;
  margin-left: 64px;
  position: relative;
  z-index: 2;  
}

.header__subtitle {
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  display: inline;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

.header__link {
  font-size: 18px;
  line-height: 25px;
  color: #2F80ED;
}

.header__main-illustration {
width: 765px;
height: 608px;
position: absolute;
bottom: 0;
right: 0;
z-index: 1;
}

.header__square-pic {
  background-color: #2F80ED;
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  transform: rotate(-15deg);
  animation: rotation 20s linear infinite;
}

/* ------------------ Секция, блок description ---------------------- */

.description {
  /*border: 1px solid #000;*/
}

.two-columns {
width: 80%;
display: flex;
justify-content: space-between;
margin: 100px auto 0px;
}
.two-columns__brief {
width: 175px;
line-height: 1.2;
font-size: 18px;
color: #2F80ED;
font-weight: 400;
margin: 0;
}

.two-columns__main-text {
width: 80%;
min-width: 784px;
}

.two-columns__paragraph {
font-size: 24px;
line-height: 34px;
}

.two-columns__paragraph:nth-of-type(2n) {
margin: 30px 0;
}

.two-columns__span-accent {
font-weight: 700;
}

/* ------------------ Секция, блок technics ---------------------- */

.technics {
  /*border: 1px solid #000;*/
  width: 80%;
  margin: auto;
}

.section-title {
  text-align: center;
  width: 60%;
  margin: 100px auto 0;
  font-size: 60px;
  line-height: 69px;
  font-weight: 600;
  }

.section-subtitle {
width: 60%;
margin: 20px auto 0;
text-align: center;
font-size: 24px;
line-height: 34px;
}

.cards {
  /*border: 1px solid #000;*/
  width: 920px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.cards__item {
  /*border: 1px solid #000;*/
  width: 240px;
  margin-right: 100px;
}

.cards__item:nth-last-of-type(3n) {
  margin-right: 0px;
}

.cards__image {
  width: 160px;
  height: 160px;
  margin: 60px 40px 43px;
  border: 1px solid transparent;
  border-radius: 50%;
}

.card__title {
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
  text-align: center;
  margin: 0 0 16px;
}
.cards__subtitle {
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  margin: 0;
}

/* ------------------ Секция, блок video ---------------------- */

.video {
  border: 1px solid transparent;
  height: 550px;
}
.section-title {
}
.section-subtitle {
}
.video__iframes {
  margin: 50px auto 0px;
  text-align: center;
  font-size: 0;
}

.video__iframe {
  width: 515px;
  height: 316px;
  margin-right: 20px;
}

.video__iframe:last-child {
  margin-right: 0px;
}


/* ------------------ Секция, блок oakley ---------------------- */

.oakley {
  background-color: #f2f2f2;
  padding: 160px 0px 80px;
}

.two-columns {
}
.two-columns__brief {
}
.two-columns__main-text {
}
.list {
}
.two-columns__paragraph {
}



/* ------------------ Секция, блок feiman ---------------------- */

.feinman {
background-color: #f2f2f2;
background-image: url(../images/feinman.png);
background-size: contain;
background-repeat: no-repeat;
background-size: 867px 637px;
background-position: 0% 100%;
height: 790px;
position: relative;
/*z-index: -2;*/
}

.feiman__title {
text-align: center;
width: 648px;
font-size: 120px;
line-height: 1.15;
margin: 0 auto 0;

font-weight: 600;
}

.feiman__subtitle {
text-align: center;
font-size: 36px;
line-height: 51px;
margin-top: 70px;
}

.feiman__link {
font-size: 36px;
line-height: 51px;
color: #000;
position: absolute;
top: 50%;
right: 48px;
}


/* ------------------ Секция, блок digits ---------------------- */

.digits {
}

.table {
width: 1100px;
margin: 0 auto 0;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.table__cell {
width: 250px;
margin-top: 60px;
}
.table__heading {
font-size: 24px;
line-height: 1.15;
font-weight: bold;
}
.table__text {
font-size: 18px;
line-height: 1.2;
margin-top: 20px;
}


/* ------------------ Секция, блок khan ---------------------- */

.khan {
  background-color: #f2f2f2;
  padding-top: 105px;
  margin-top: 100px;
}

.khan__container {
  width: 80%;
  margin: auto;
}

.khan__author {
  font-size: 30px;
  line-height: 42px;
  font-weight: 400;
  margin: 0;
}
.khan__title {
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
  margin: 0 0 50px;
}

.khan__quote {
  width: 790px;
  font-size: 24px;
  line-height: 34px;
  margin: 0 0 36px;
}

.khan__quote-author {
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
  margin: 0 0 10px;
}

.khan__quote-author-subline {
  font-size: 24px;
  line-height: 1.15;
  font-weight: 400;
  margin: 0 0 68px;
}

.book-container {
  display: flex;
}


.khan_book-pic {
  width: 620px;
  height: 608px;
  object-fit: cover;
  object-position:50% 0;
  margin-right: 20px;
 
}

.khan__buy-link {
  font-size: 30px;
  line-height: 42px;
  color: #2F80ED;
  align-self: start;
}


/* ------------------ Секция, блок kaufman ---------------------- */

.kaufman {
background-color: #1f1f1f;
position: relative;
z-index: -2;
overflow: hidden;
}

.section-title_theme_dark {
color: white;
margin: 90px auto 0;
}

.section-subtitle_theme_dark {
color: white;
}

.table_theme_dark {
margin: 0 auto 80px;
}

.table__cell_theme_dark {
width: 200px;
margin-right: 0;
margin-top: 80px;
}

.table__heading_theme_dark {
font-size: 24px;
line-height: 1.15;
color: white;
}
.table__text_theme_dark {
color: white;
font-size: 18px;
line-height: 1.2;
margin-top: 20px;
}

.kaufman__triangle {
width: 877px;
height: 877px;
position: absolute;
right: -210px;
top: 0;
z-index: -1;
animation: rotation 20s linear infinite;
}

/* ------------------ Подвал, блок resources ---------------------- */

.resources {
}

.resources__logo-zone {
  min-width: 1100px;
  font-size: 0;
  text-align: center;
}
.resources__logo {
  width: 270px;
  height: 38px;
  margin: 80px 0 217px;
}

/* ------------------ Подвал, блок footer ---------------------- */


.footer {
background-color: #1f1f1f;
min-height: 350px;
padding-top: 60px;
padding-bottom: 40px;
}

.footer__columns {
width: 90%;
min-height: 350px;
margin:  auto;
display: flex;
justify-content: space-between;
}

.footer__column_content_copiright {
flex-basis: 711px;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.logo_place_footer {
background-image: url(../images/logo_white.svg);
height: 35px;
}

.footer__author {
color: #fff;
margin: 18px 0;
font-size: 18px;
line-height: 25px;
}
.footer__column_content_info {
}

.footer__column-heading {
color: #fff;
margin-bottom: 20px;
font-size: 18px;
line-height: 30px;
font-weight: 600;
}

.footer__column-link {
color: #fff;
display: block;
font-size: 18px;
line-height: 30px;
}

.footer__column_content_social {
}

.footer__social-icon {
margin-right: 10px;
}






